* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index:10;
    
}

#Parent{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    position:absolute;
    right:0%;
    height:100vh;
    width:100%;
    top:0px;
    border: 10px solid black;
}
.Divs{
    width:30%;
    height:100px;
    border: 3px solid orangered;
    margin:5px;
    text-align: center;
    padding:2px;


}
.Divs h2{
    text-decoration: underline;
}

.back-video{
    position: absolute;
    z-index:1;
  
    object-fit:cover;
    bottom:0%;
    margin-top:5%;
    width:100%;
   height:100%;
}

button{
    height:50px;
    width:90px;
    margin-left:auto;
    position:fixed;
    right:20%;
    top:10%;
    border:10px solid orangered;
    font-size:15px;
    z-index: 12;
    background-color: orangered;
    color: white;

}

#category{
    position:fixed;
    left:500px;
    top:85px;
    height:500px;
    width:70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 100px;;

}
#Welcome{
    position:fixed;
    left: 10%;
    top:65%;
    font-size:50px;
}
#TopTen{
    display:flex;
    position: fixed;
    justify-content: center;
    left: 12%;
    top:60%;
    width:500px;
    height:300px;
    flex-direction: column;
    text-align: center;
    
}
h3{
    margin-bottom: 10px;
    text-decoration: underline;
    background-color: orangered;
}

#FirstRow{
    display:flex;
    justify-content: space-between;
}
#SecondRow{
    display:flex; 
    margin-top:5px;
    justify-content:space-between;
}

p {
    color:white;
}

ul{

    color: red;
    background-color: white;
    list-style-type: none;
}

h2{

    color: orangered;
    background-color: black;
    
}

